[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.1.4"
gunicorn = "==20.1.0"
boto3 = "==1.17.88"
Pillow = "==8.2.0"
click = "==7.1.2"
itsdangerous = "==1.1.0"
Jinja2 = "==2.11.3"
MarkupSafe = "==2.0.1"
nodeenv = "==1.6.0"
Werkzeug = "==1.0.1"
npm = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
